{% extends 'blog/base.html'%}
{% load blog_tags %}
{% block nav_home %}{{activehome}}{% endblock %}
{% block title %}{{ blog.title }}{% endblock%}
{% block header_extends %}<link rel="stylesheet" href="/static/blog.css">{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h3 class="section-title"><span class="glyphicon-class">{{title}}</span></h3>
        {% block tag %}{% endblock %}
        <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
            <div class="aside-right">
                <div class="panel panel-default type-class">
                    <h3 class="aside-title">
                        <span class="aside-title">上周热门</span>
                    </h3>
                    <div class="line"></div>
                    <div class="panel-body">
                        <ul class="blog-types">
                            {% get_hot_data_lastweek as hot_datas%}
                            {% for hot_data in hot_datas %}
                                <li>
                                    <a href="{% url 'blog:blog_detail' hot_data.object_id%}">{% get_blog_title hot_data.object_id %}</a>
                                    <div class="type-right for-hot-blog">
                                        <span class="glyphicon glyphicon-fire"></span>
                                        <span>{{hot_data.read_num_sum}} </span>
                                    </div>
                                </li>
                            {% empty %}
                                <li>上周暂无热门</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default type-class">
                    <h3 class="aside-title">
                        <span class="aside-title">博客分类</span>
                    </h3>
                    <div class="line"></div>
                    <div class="panel-body">
                        <ul class="blog-types">
                            {% for blog_type in blog_types %}
                                <li>
                                    <a href="{% url 'blog:blogs_with_type' blog_type.id %}">{{blog_type.type_name}}</a>
                                    <div class="type-right for-blog-count">
                                        <span>{{blog_type.blog_count}}</span>
                                    </div>
                                </li>
                            {% empty %}
                                <li>暂无分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default type-class">
                    <h3 class="aside-title">
                        <span class="aside-title">日期归档</span>
                    </h3>
                    <div class="line"></div>
                    <div class="panel-body">
                        <ul class="blog-date">
                            {% for date in blog_dates %}
                                <li>
                                    <a href="{% url 'blog:blogs_with_date' date.year date.month %}">{{date|date:"Y年m月"}}</a>
                                    <div class="type-right for-date">
                                        <span>{% get_blog_number_in_month date %}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
